# NodeJS projects
node_modules/

# Built artifact (committed so no build step is required at deploy time)
!dist/

# Drupal/external libraries
/vendor/

# PHPStorm (IDE) configurations
.idea/

# Config management script output
/config/_*changes.diff
/config/**/_diff_commands.bash
*APPLICABLE.patch
.DS_Store
.DS_Stor*
